<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nimeshajinarajadasa.mobilebankingapp" >

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >





        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

               <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.SignUpActivity"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.SIGNUPACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.CheckBalance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CHECKBALANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.Transaction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.nimeshajinarajadasa.mobilebankingapp.PayActivity"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.PAYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <receiver android:name=".SMSReceiver">
        <intent-filter android:priority="1">
            <action android:name=
            "android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
    </receiver>
    </application>

</manifest>
